{namespace bw=Blueways\BwIcons\ViewHelpers}

<f:if condition="!{tabs}">
    <div class="callout callout-info">
        <h4 class="callout-title"><f:translate extensionName="BwIcons" key="callout.no-provider.title" /></h4>
        <p class="callout-body"><f:format.raw><f:translate extensionName="BwIcons" key="callout.no-provider.description" arguments="{0: 'https://docs.typo3.org/p/blueways/bw-icons/2.0/en-us'}" /></f:format.raw></p>
        <a target="_blank" href="https://docs.typo3.org/p/blueways/bw-icons/2.0/en-us/" class="btn btn-default"><core:icon identifier="actions-notebook-typoscript" size="small" /> <f:translate extensionName="BwIcons" key="callout.no-provider.button" /></a>
    </div>
</f:if>

<f:if condition="{tabs}">
    <ul class="nav nav-tabs">
        <f:for each="{tabs}" as="tab" iteration="i">
            <li role="presentation" class="{f:if(condition:i.isFirst, then:'active')}">
                <a class="nav-item {f:if(condition:i.isFirst, then:'active')}" href="#{tab.id}">{tab.title}</a>
            </li>
        </f:for>
    </ul>
</f:if>

<f:for each="{tabs}" as="tab" iteration="i">
	<div class="tab-content {f:if(condition:'{tab.folders->f:count()}>1', then:'tab-content--subnav')} {f:if(condition:i.isFirst, then:'active')}"
		 id="{tab.id}">

		<f:if condition="{tab.folders->f:count()}>1">
			<div>
				<div class="list-group">
					<f:for each="{tab.folders}" key="folderName" as="folder">
						<f:if condition="{folderName}">
							<a href="#{folderName}" class="list-group-item">
								{folderName}
								<span class="badge">{folder->f:count()}</span>
							</a>
						</f:if>
					</f:for>
				</div>
			</div>
		</f:if>

		<div>

			<form class="filter">
				<div class="input-group">
					<span class="t3js-form-field-inputlink-icon input-group-addon">
						<core:icon identifier="actions-filter" size="small"/>
					</span>
					<span class="form-control-clearable form-control-clearable-wrapper">
						<input class="form-control search" placeholder="Filter..." autocomplete="off"/>
						<button class="close" tabindex="-1" type="button" style="visibility: hidden">
							<core:icon identifier="actions-close" size="small"/>
						</button>
					</span>
				</div>
			</form>

			<f:for each="{tab.folders}" key="folderName" as="folder">

				<f:if condition="{folderName}">
					<h1 id="{folderName}">{folderName} </h1>
				</f:if>
				<f:if condition="!{folderName} && {folder->f:count()}">
					<h1>
						<span>{folder->f:count()}</span>
						Icons
					</h1>
				</f:if>

				<f:if condition="{folder->f:count()}">

					<div class="icongrid">
						<f:for each="{folder}" as="icon">
							<div class="griditem">
                                <f:variable name="cssClassName"></f:variable>
                                <f:if condition="{bw:isWhite(icon:icon)}">
                                    <f:variable name="cssClassName">thumbnail--white</f:variable>
                                </f:if>
								<a href="#" class="thumbnail {cssClassName}">
									<bw:icon icon="{icon}"/>
								</a>
							</div>
						</f:for>
					</div>
				</f:if>

			</f:for>

		</div>

	</div>
</f:for>

<style>
	.tab-content {
		background: #fafafa;
		border: 1px solid #ccc;
		border-top: 0;
		padding: 20px 13px 0;
		display: none;
		min-height: 80px;
	}

	.tab-content.active {
		display: grid;
	}

	.tab-content--subnav {
		grid-template-columns: minmax(100px, 245px) auto;
		gap: 20px;
	}

	.icongrid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
		gap: 20px;
		justify-items: center;
		align-items: center;
		margin-bottom: 20px;
	}

	.griditem {
		display: grid;
		height: 50px;
		width: 100%;
	}

	.griditem a {
		overflow: hidden;
	}

	.griditem a:hover, .griditem a:focus {
		text-decoration: none;
		border-color: #212424;
	}

	.griditem a * {
		width: 40px;
		max-height: 40px;
		font-size: 40px;
		line-height: 40px;
		text-align: center;
	}

	.thumbnail {
		margin-bottom: 0;
		display: grid;
		align-content: center;
		line-height: 1.5;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 2px;
		transition: border .2s ease-in-out;
		padding: 4px;
		justify-content: center;
	}

    .thumbnail--white {
        background-color: #3c3c3c;
    }

	a.list-group-item:hover {
		text-decoration: none;
		background-color: #f5f5f5;
	}

	h1 {
		border-bottom: 1px solid #000;
		padding-top: 12px;
	}

	.icongrid + h1 {
		margin-top: 38px;
	}

	.list-group {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}

	.list-group .badge {
		float: right;
	}

	.filter {
		margin-bottom: -20px;
		display: grid;
		justify-content: end;
	}

	.filter input.search {
		border-radius: 0 2px 2px 0;
	}
</style>
