{namespace bw=Blueways\BwIcons\ViewHelpers}


<ul class="nav nav-tabs">
	<f:for each="{tabs}" as="tab">
		<li role="presentation" class="active">
			<a href="#">{tab.title}</a>
		</li>
	</f:for>
</ul>

<f:for each="{tabs}" as="tab">
	<div class="tab-content {f:if(condition:'{tab.folders->f:count()}>1', then:'tab-content--subnav')}" id="{tab.id}">

		<f:if condition="{tab.folders->f:count()}>1">
			<div>
				<div class="list-group">
					<f:for each="{tab.folders}" key="folderName" as="folder">
						<f:if condition="{folderName}">
							<a href="#{folderName}" class="list-group-item">
								<span class="badge">{folder->f:count()}</span>
								{folderName}
							</a>
						</f:if>
					</f:for>
				</div>
			</div>
		</f:if>

		<div>

			<f:for each="{tab.folders}" key="folderName" as="folder">

				<f:if condition="{folderName}">
					<h1 id="{folderName}">{folderName} </h1>
				</f:if>

				<f:if condition="{folder->f:count()}">

					<div class="icongrid">
						<f:for each="{folder}" as="icon">
							<div class="griditem">
								<a href="#" class="thumbnail">
									<bw:icon icon="{icon}" provider="{tab.id}"/>
								</a>
							</div>
						</f:for>
					</div>
				</f:if>

			</f:for>

		</div>

	</div>
</f:for>

<style>
	.tab-content {
		background: #fafafa;
		border: 1px solid #ccc;
		border-top: 0;
		padding: 20px 13px 0;
	}

	.tab-content--subnav {
		display: grid;
		grid-template-columns: minmax(100px, 220px) auto;
		gap: 20px;
	}

	.icongrid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
		gap: 20px;
		justify-items: center;
		align-items: center;
		margin-bottom: 20px;
	}

	.griditem {
		display: grid;
		height: 50px;
		width: 100%;
	}

	.griditem img {
		width: 100%;
		max-height: 50px;
	}

	.thumbnail {
		margin-bottom: 0;
		display: grid;
		align-content: center;
	}

	h1 {
		border-bottom: 1px solid #000;
	}

	.icongrid + h1 {
		margin-top: 50px;
	}

	.list-group {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
	}
</style>
