.idea
.Build
config
composer.lock
public/.htaccess
public/_assets
public/fileadmin
public/typo3
public/typo3conf
public/typo3temp
public/index.php
c3.php
!Resources/Public
Tests/Acceptance/_output
vendor
var
Documentation-*
.phpdoc
node_modules
package-lock.json
Resources/Public/JavaScript/*.js.map
