.idea
.Build
composer.lock
public/.htaccess
public/_assets
public/_assets_install
public/fileadmin
public/typo3
public/typo3conf
public/typo3temp
public/index.php
.ddev/addon-metadata
Resources/Public/Fixtures
Tests/Playwright/playwright-report
Tests/Playwright/test-results
php-cs-fixer.xml
phpstan.xml
vendor
var
Documentation-*
.phpdoc
node_modules
package-lock.json
Resources/Public/JavaScript/*.js.map
